<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row">
            <h3>Return and Replacement Policy</h3>
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <td style="font-weight: 700;">Return Policy</td>
                        <td>10 Days Return Policy Only Manufacturing Defect Only </td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Office chair</td>
                        <td>Model number / name / image/ brand/ serial number will be matched.</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Complete Product</td>
                        <td>All in-the-box accessories (like Chair Wheel , Gas lift , Caster , Key instruction manuals,
                            etc )</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Unused Product</td>
                        <td>Before returning, the product should be unused, unwashed, unsoiled, without any stains and
                            with non-tampered quality check seals/return tags/warranty seals (wherever applicable).
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;font-weight: 700;">Undamaged Packaging</td>
                        <td>Product's original packaging/ box should be undamaged.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->