<div class="modal-header">
    <h4 class="modal-title pull-left"><b> Thank you for your registration!</b></h4>

</div>
<div class="modal-body">
    <span style="font-size: 18px;
   font-family: ui-monospace;">Thank you for registering at alibabachair.com. You should receive a confirmation text
        message(SMS)
        and an email
        shortly with
        your user name and password reminder.

    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-solid" style="float:right;" (click)="close()">Close</button>
</div>

<!-- <section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <h5 style="color: green; text-align: center;">
                    Thank you for registering with us. You should receive a confirmation text message(SMS) and email
                    shortly with
                    your user name and password reminder.
                </h5>
                <br>
                <button class="btn btn-solid" style="float:right;" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</section> -->