<!--section start-->
<section class="contact-page section-b-space">
    <div class="container">
        <div class="row">
            <h3>Privacy Policy</h3>
            <div class="col-sm-12">
                <p>
                    <b>PRIVACY POLICY - </b>We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how Alibaba chair and its affiliates (collectively “Ali baba, we,
                    our, us”) collect, use, share or otherwise process your personal information through Ali baba chair website <a href="alibabachair.com" target="_blank">alibabachair.com</a> alibabachair.com its mobile application, and m-site (hereinafter
                    referred to as the “Platform”).
                </p>
                <p>
                    By visiting the Platform, providing your information or availing our product/service, you expressly agree to be bound by the terms and conditions of this Privacy Policy. and the applicable service/product terms and conditions. If you do not agree, please
                    do not access or use our Platform.
                </p>
                <p style="font-weight: 700;">1. Collection of Your Information : - </p>
                <p>
                    When you use our Platform, we collect and store your information which is provided by you from time to time. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. Once you give us
                    your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular
                    service, product or feature on the Platform.
                </p>
                <p>
                    We may track your buying behaviour, preferences, and other information that you choose to provide on our Platform. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve
                    our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on
                    our Platform or not), your computer browser information, and your IP address.
                </p>
                <p>
                    We collect personal information (such as email address, delivery address, name, phone number, credit card/debit card and other payment instrument details) from you when you set up an account or transact with us. While you can browse some sections of our
                    Platform without being a registered member, certain activities (such as placing an order or consuming our online content or services) do require registration. We do use your contact information to send you offers based on your previous
                    orders and your interests.
                </p>
                <p>
                    If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback or if you use voice commands to shop on the Platform, we will collect that information you provide to us. We retain this information as necessary
                    to resolve disputes, provide customer support and troubleshoot problems as permitted by law. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities
                    or postings on the Platform, we may collect such information into a file specific to you.
                </p>
                <p style="font-weight: 700;">2. Use of Demographic / Profile Data / Your Information</p>
                <p>
                    We use your personal information to provide the product and services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to assist sellers
                    and business partners in handling and fulfilling orders; enhancing customer experience; resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services; inform
                    you about online and offline offers, products, services, and updates; customize and enhance your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise
                    described to you at the time of collection of information.
                </p>
                <p>
                    With your consent, we will have access to your SMS, contacts in your directory, location and device information. We may also request you to provide your PAN, GST Number, Government issued ID cards/number and Know-Your-Customer (KYC) details to: (i) check
                    your eligibility for certain products and services including but not limited to credit and payment products; (ii) issue GST invoice for the products and services purchased for your business requirements; (iii) enhance your experience
                    on the Platform and provide you access to the products and services being offered by us, sellers, affiliates or lending partners. You understand that your access to these products/services may be affected in the event consent is not
                    provided to us.
                </p>
                <p style="font-weight: 700;">3. Cookies</p>
                <p>
                    We use data collection devices such as "cookies" on certain pages of the Platform to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist us in
                    providing our services. Cookies do not contain any of your personal information. We offer certain features that are only available through the use of a "cookie". We also use cookies to allow you to enter your password less frequently
                    during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically deleted from your hard drive at the end of a session. You are
                    always free to decline/delete our cookies if your browser permits, although in that case you may not be able to use certain features on the Platform and you may be required to re-enter your password more frequently during a session.
                </p>
                <p style="font-weight: 700;">4. Sharing of personal information</p>
                <p>
                    We may share personal information with our other corporate entities and affiliates for purposes of providing products and services offered by them, such as, the deferred payment options Ali Baba Pay Later offered by Ali baba Advanz Private Limited through
                    its lending partners. These entities and affiliates may share such information with their affiliates, business partners and other third parties for the purpose of providing you their products and services, and may market to you as
                    a result of such sharing unless you explicitly opt-out.
                </p>
                <p>
                    We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement
                    agencies, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms of Use or Privacy Policy; respond to claims that an advertisement, posting or other content
                    violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.
                </p>
                <p style="font-weight: 700;">5. Security Precautions</p>
                <p>
                    We maintain reasonable physical, electronic and procedural safeguards to protect your information. Whenever you access your account information, we offer the use of a secure server. Once your information is in our possession, we adhere to our security
                    guidelines to protect it against unauthorized access. However, by using the Platform, the users accept the inherent security implications of data transmission over the internet and the World Wide Web which cannot always be guaranteed
                    as completely secure, and therefore, there would always remain certain inherent risks regarding use of the Platform. Users are responsible for ensuring the protection of login and password records for their account.
                </p>
                <p style="font-weight: 700;">6. Advertisements on Platform</p>
                <p>
                    We use third-party advertising companies to serve ads when you visit our Platform. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide
                    advertisements about goods and services of interest to you.</p>
                <p>10. Children Information</p>
                <p>
                    We do not knowingly solicit or collect personal information from children under the age of 18 and use of our Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If you are under the age of
                    18 years then you must use the Platform, application or services under the supervision of your parent, legal guardian, or any responsible adult.
                </p>
                <p style="font-weight: 700;">11. Data Retention</p>
                <p>We retain your personal information in accordance with appliable laws, for a period no longer than is required for the purpose for which it was collected or as required under any applicable law. However, we may retain data related to you
                    if we believe it may be necessary to prevent fraud or future abuse or if required by law or for other legitimate purposes. We may continue to retain your data in anonymised form for analytical and research purposes.
                </p>
                <p style="font-weight: 700;">12. Your Consent</p>
                <p>By visiting our Platform or by providing your information, you consent to the collection, use, storage, disclosure and otherwise processing of your information (including sensitive personal information) on the Platform in accordance with
                    this Privacy Policy. If you disclose to us any personal information relating to other people, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.
                </p>
                <p>
                    You, while providing your personal information over the Platform or any partner platforms or establishments, consent to us (including our other corporate entities, affiliates, lending partners, technology partners, marketing channels, business partners
                    and other third parties) to contact you through SMS, instant messaging apps, call and/or e-mail for the purposes specified in this Privacy Policy.
                </p>
                <p style="font-weight: 700;">12. Changes to this Privacy Policy</p>
                <p>
                    Please check our Privacy Policy periodically for changes. We may update this Privacy Policy to reflect changes to our information practices. We will alert you to significant changes by posting the date our policy got last updated, placing a notice on
                    our Platform, or by sending you an email when we are required to do so by applicable law.
                </p>
                <p style="font-weight: 700;">13. Grievance Officer</p>
                <p>
                    In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:
                </p>
                <p style="font-weight: 700;">
                    Ali Baba Chair
                </p>
                <p>Phone: - 9811585898 , 9871636292
                    <br> Email: Care@Alibabachairs.Com
                </p>
                <p style="font-weight: 700;">
                    Time: Mon - Sat (9:00 - 18:00)
                </p>
                <p style="font-weight: 700;">14. Queries</p>
                <p>If you have a query, issue, concern, or complaint in relation to collection or usage of your personal information under this Privacy Policy, please contact us the contact information provided above.
                </p>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->