.table th,
.table td {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

@media (min-width:1024px) {
    .sticky-scroll.fixed-section {
        width: 36.5%;
    }
}

@media (min-width:1300px) {
    .sticky-scroll.fixed-section {
        width: 36.5%;
    }
}

@media (min-width:1900px) {
    .sticky-scroll.fixed-section {
        width: 36.5%;
    }
}


.mrg-btm-minus {
    margin-bottom: -1px;
}
.mrg-btm-minus .active {
    border: solid 2px #ff4c3b;
    margin-bottom: 1px;
}
.thumb-left-img {
    height: 63px;
    width: 63px;
    /* padding-bottom: 0px; */
    padding: 10px;
    /* background: #ccc; */
    border: solid 1px #ddd;
    padding-top: 7px;
}
.border-grey {
    border: solid 1px #ddd;
}

.rwbox
{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
.sticky-scroll.fixed-section{width: 33% !important;}
.product-carousel{height: 375px !important;}
.product-buttons{width: 425px;
    position: relative;
    left: 48px;}
    .thumbnail-imgs {
        height: 375px;
        overflow-y: auto !important;
        max-height: 416px;}

   .btn-reviews{position: relative;
    margin-top: 20px;
    margin-left: -15px;
    float: left;}     

@media (min-width: 1024px) {.sticky-scroll.fixed-section{width: 35.3% !important;}}
@media (min-width: 1366px) {.sticky-scroll.fixed-section{width: 33% !important;}}
// *{box-sizing: border-box;}

// .img-zoom-container {
//   position: relative;
// }

// .img-zoom-lens {
//   position: absolute;
//   border: 1px solid #d4d4d4;
//   /*set the size of the lens:*/
//   width: 40px;
//   height: 40px;
// }

// .img-zoom-result {
//   border: 1px solid #d4d4d4;
//   /*set the size of the result div:*/
//   width: 300px;
//   height: 300px;
// }
.product-carousel[_ngcontent-serverApp-c148] {
    height: 100% !important;
    display: block;
    width: 100%;
    padding: 15px;
    margin-right: 0px;
}