.popup-heading {
    font-size: 28px;
    font-weight: 600;
    font-family: Lato,sans-serif;
}

.popup-label {font-size: 24px;margin-top: 50px;
    display: block;
    font-weight: 600;
    font-family: Lato,sans-serif;}

.no-margin{margin: 0px !important;}